.login-input-group {
  width: 80%;
  padding: 0;
  margin: 0;
}

.login-input-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: all 0.3s ease;
}
.login-input-group input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  outline: none;
  transition: all 0.3s ease;
}

.login-input-group input:focus {
  border-color: #007bff;
  outline: none;
  background-color: #e9f5ff;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.toggle-password {
  position: absolute;
  right: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.toggle-password svg {
  width: 24px;
  height: 24px;
}

button[type="submit"] {
  width: 100%;
  padding: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
